<div class="show-post-content">
  <h1>About this Blog</h1>
  <%= image_tag(asset_path( 'me.jpg' ), :class=>"my-image") %>
  <h3>This blog is owned and managed by Ritz Wu (when she's not riding a ski lift), pictured above. The inspiration for the design was taken from Masayoshi Nakajo's poster, 'Mount Fuji: The Incurable Malady of Masayoshi Nakajo (cl: Creation Gallery G8)'. The link to the poster is <%= link_to 'here', "http://www.jagda.or.jp/en/awards/kamekura/05/" %>. All content written is original, all photos taken from the web and credited at the bottom of each post. </h3>
  <h3> If you have any questions you are welcome to contact me at <%= link_to 'ritz.wu@outlook.com', "ritz.wu@outlook.com" %>.</h3>
</div>